<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Connector port="8080" protocol="HTTP/1.1"
	       connectionTimeout="20000"
	       redirectPort="8443" />
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
	     resourceName="UserDatabase"/>

      <Host name="localhost"
	    appBase="webapps" unpackWARs="true"
	    autoDeploy="true" deployOnStartup="true"
	    xmlValidation="false" xmlNamespaceAware="false">

	<Valve className="org.apache.catalina.valves.AccessLogValve"
	       directory="logs" prefix="localhost_access." suffix=".log"
	       pattern="common" resolveHosts="false"/>
      </Host>
    </Engine>
  </Service>
</Server>
