/* Body and structure
-------------------------------------------------- */
body {
  background-color: #fff;
  position: relative;
}
section {
  padding-top: 20px;
}
section > .row {
  margin-bottom: 5px;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  min-width: 940px;
  padding-top: 40px;
}
.jumbotron .inner {
  background-color: #eee;
  background-image: url(../images/mega-bkgrnd.jpg);
  background-size: 100%;
/*  background: transparent url(../img/grid-18px.png) top center;
*/
  padding: 5px 0;
/*  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
*/
/*          box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
*/}
.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
/*  color: #fff; */
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,.3);
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(255,255,255,.5);
}
.jumbotron p {
  font-weight: 300;
}
.jumbotron .lead {
  font-size: 36px;
  line-height: 27px;
}
.jumbotron p a {
/*  color: #fff;
*/  font-weight: bold;
}

.subhead .inner {
  padding: 36px 0 27px;
}
.subhead h1,
.subhead p {
  text-align: left;
}
.subhead h1 {
  font-size: 40px;
}
.subhead p a {
  font-weight: normal;
}

.quickstart .container {
  margin-bottom: 0;
}

.quickstart [class*="span"] {
  width: 285px;
  height: 117px;
/*  margin-left: 0; */
  padding-top: 20px;
}


.quickstart [class*="span"]:last-child {
/*  border-right: 1px solid #eee;
*/  width: 286px;
}

.quickstart h6,
.quickstart p {
  line-height: 18px;
  text-align: center;
  margin-bottom: 9px;
  color: #333;
}
.quickstart .current-version,
.quickstart .current-version a {
  color: #999;
}
.quickstart h6 {
  color: #999;
}
.quickstart textarea {
  display: block;
  width: 275px;
  height: auto;
  margin: 0 0 9px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
}

/* Footer
-------------------------------------------------- */
.footer {
  background-color: #eee;
  min-width: 940px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
     -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
/*          box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
*/}

.footer p {
    color: #555;
    font-size: 12px;
}

.footer .alert-message p {
    font-size: 16px;
}

.footer ul {
    font-size: 12px;
}

.post {
    padding-top: 66px;
}

.twitter_widget p {
    font-size: 12px;
}

.page-header > h1 > a {
    color: #404040;
}

code, pre {
    font-size: 14px;
}

.post_content {
    padding-bottom: 33px;
}

a code {
    color:#0069d6;
}
