            {% for section in site.data.navigation %}
              {% if section.active %}
                {% assign active = nil %}
                 {% if section.sections contains page.section %}
                   {% assign active = "active" %}
                {% endif %}
                  <li class="{{active}} {{section.class}}" >
                  <a href="{{section.url}}">
                    {{section.text}}
                    </a>
                </li>
              {% endif %}
            {% endfor %}
