<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://palletops.us8.list-manage.com/subscribe/post?u=2e50ddbe95bbf8b6396a32ac6&amp;id=37bb0298a7"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate"
      target="_blank" novalidate>
  <div class="form-group">
    <label for="mce-EMAIL">Subscribe to our mailing list:</label>
    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL"
	   placeholder="your@email.com">
  </div> <!-- /.form-group -->
  <div id="mce-responses">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;">
    <input  type="text" name="b_2e50ddbe95bbf8b6396a32ac6_37bb0298a7" tabindex="-1" value=""></div>
  <div><input type="submit" value="Subscribe" name="subscribe" 
	      id="mc-embedded-subscribe" class="btn btn-sm btn-default"></div> 
</form>
</div>

<!--End mc_embed_signup-->
