{% comment %}
<div class="row">
  <div class="span10 offset3">
    <div class="alert-message block-message success"
    style="padding-top: 4px; padding-bottom: 4px;">
      <div class="row">
        <div class="span7">
          <p><span class="label success">New!</span>
            <a href="http://clojurewest.squarespace.com/training-pallet"
               target="_blank">Pallet Training</a> scheduled for March
               14-15</p>
          <p> <strong>&raquo;<u>
                <a href="http://clojurewest.squarespace.com/training-pallet"
                   target="_blank">
                  Sign up before Jan 27 for early bird pricing.
                  </a></u></strong></p>
          <p> Organized by Clojure/West 2012 </p>
        </div>
        <div class="span2">
          <div class="alert-actions">
            <a class="btn medium"
               href="http://www.regonline.com/Register/Checkin.aspx?EventID=1041359"
               target="_blank">
              Register Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
