<h2>Index</h2>
<ul>
<li><a href='/doc/overview'>Overview</a></li>

<li><a href='/doc/first-steps'>First Steps</a></li>

<li><a href='/doc/crates'>Crates</a></li>

<li><a href='/doc/how-tos'>How Tos</a></li>

</ul>
<h3>Pallet 0.7</h3>
<ul>
<li><a href='/doc/reference'>Reference Documentation</a></li>

<li><a href='http://palletops.com/pallet/api/0.7/index.html'>API Documentation</a></li>

<li><a href='http://palletops.com/pallet/marginalia/0.7/uberdoc.html'>Annotated Source</a></li>
</ul>

{% assign apivers = "0.8" | split: "|"  %}
{% for apiver in apivers %}
<h3>Pallet {{apiver}}</h3>
<ul>
<li><a href='/doc/reference-{{apiver}}'>Reference Documentation</a></li>
<li><a href='http://palletops.com/pallet/api/{{apiver}}/index.html'>API Documentation</a></li>
<li><a href='http://palletops.com/pallet/marginalia/{{apiver}}/uberdoc.html'>Annotated Source</a></li>
</ul>
{% endfor %}
