{% comment %}
Assign atom = true if this is an index page that has a corresponding atom page
{% endcomment %}
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="{{site.cdn}}/{{site.asset-ver}}/css/bootstrap.min.css">
   <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{site.cdn}}/{{site.asset-ver}}/css/pallet.css">
  <link rel="stylesheet" href="{{site.cdn}}/{{site.asset-ver}}/css/css.css">
  <link rel="stylesheet" href="{{site.cdn}}/{{site.asset-ver}}/css/highlight.css">

  {% comment %}
  ensure proper rendering and touch zooming
  {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include google-analytics.html %}
  
  {% if atom == true %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
        href="atom.xml">
  {% endif %}

  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
    {% if page.summary %}
      <meta name="description" content="{{page.summary}}" />
    {% else %}
      <meta name="description" content="{{site.description}}" />
    {% endif %}
  {% endif %}
  {% include olark.html %}
</head>
