<div class="col-md-9 content">
  <div class="page-header">
    <h1 class="title">
      {{ post.title}}
    </h1>
  </div>
  <div class="doc-tabs">
    {% include reflinks.html %}
  </div>
  <div class="post_content">
    {{ content }}
  </div>
  <div class="doc-tabs">
    {% include reflinks.html %}
  </div>
  {% include broken-doc.html %}
  {% include share.html %}
  <div class="disqus-post-comments">
    {% include disqus.html %}
  </div>
</div><!--content-->

<div class="col-md-3 sidebar">
  <h1>&nbsp;</h1>
  {% if post.apiver %}
    {% include docindex-ver.html %}
  {% else %}
    {% include docindex.html %}
  {% endif %}
  {% if post.apiver %}
    <h3><a href="{{site.baseurl}}/doc/reference-{{post.apiver}}">Reference</a><br/></h3>
  {% else %}
    <h3><a href="{{site.baseurl}}/doc/reference">Reference</a><br/></h3>
  {% endif %}
  {% if post.apiver %}
    {% include refindex-ver.html %}
  {% else %}
    {% include refindex.html %}
  {% endif %}
  <br/>
  {% include twitter-widget.html %}
  <br/>
</div>
