<ul>
<li><a href='/doc/reference/{{post.apiver}}/providers'>Talking to the cloud</a></li>

<li><a href='/doc/reference/{{post.apiver}}/node-push'>Talking to nodes</a></li>

<li><a href='/doc/reference/{{post.apiver}}/node-types'>Groups, Servers and Node Specs</a></li>

<li><a href='/doc/reference/{{post.apiver}}/phases'>Phases</a></li>

<li><a href='/doc/reference/{{post.apiver}}/operations'>Operations</a></li>

<li><a href='/doc/reference/{{post.apiver}}/crates'>Crates</a></li>

<li><a href='/doc/reference/{{post.apiver}}/actions'>Actions</a></li>

<li><a href='/doc/reference/{{post.apiver}}/session'>Session</a></li>

<li><a href='/doc/reference/{{post.apiver}}/environment'>Environment</a></li>

<li><a href='/doc/reference/{{post.apiver}}/parameters'>Parameters</a></li>

<li><a href='/doc/reference/{{post.apiver}}/script'>Shell Script</a></li>

<li><a href='/doc/reference/{{post.apiver}}/logging'>Logging</a></li>

<li><a href='/doc/reference/{{post.apiver}}/glossary'>Glossary</a></li>
</ul>
