<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Hugo Duncan</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>buAtLT:e08976acbffe578131c289a2f053b73bc1cbd337856559cbbc1bac8773c6c6cf</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>hugo_duncan@yahoo.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
