<settings>
  <profiles>
    <profile>
      <id>clojure-dev</id>
      <pluginRepositories>
        <pluginRepository>
          <id>mulli.nu</id>
          <url>http://mulli.nu/maven</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>sonatype-nexus-releases</id>
          <url>http://oss.sonatype.org/content/repositories/releases</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>clojars</id>
          <name>Clojars</name>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://clojars.org/repo</url>
          <layout>default</layout>
        </pluginRepository>
      </pluginRepositories>
      <repositories>
        <repository>
          <id>clojars</id>
          <name>Clojars</name>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://clojars.org/repo</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>sonatype-snaphots</id>
          <url>http://oss.sonatype.org/content/repositories/snapshots</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>sonatype-nexus-releases</id>
          <url>http://oss.sonatype.org/content/repositories/releases</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
    </profile>
  </profiles>
 
  <activeProfiles>
    <activeProfile>clojure-dev</activeProfile>
  </activeProfiles>
</settings>
