<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
    </layout>
  </appender>

  <appender name="COMPUTEFILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="logs/jclouds-compute.log" />
    <param name="Append" value="true" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="Threshold" value="TRACE" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
    </layout>
  </appender>

  <appender name="WIREFILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="logs/jclouds-wire.log" />
    <param name="Append" value="true" />

    <!-- Rollover at midnight each day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />

    <param name="Threshold" value="TRACE" />

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />

      <!--
          The full pattern: Date MS Priority [Category]
          (Thread:NDC) Message\n <param name="ConversionPattern"
          value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
      -->
    </layout>
  </appender>

  <appender name="PALLETFILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="logs/pallet.log" />
    <param name="Append" value="true" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="Threshold" value="TRACE" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
    </layout>
  </appender>

  <appender name="ASYNCCOMPUTE" class="org.apache.log4j.AsyncAppender">
    <appender-ref ref="COMPUTEFILE" />
  </appender>

  <appender name="ASYNCWIRE" class="org.apache.log4j.AsyncAppender">
    <appender-ref ref="WIREFILE" />
  </appender>

  <category name="jclouds.headers">
    <priority value="DEBUG" />
    <appender-ref ref="ASYNCWIRE" />
  </category>

  <category name="jclouds.wire">
    <priority value="DEBUG" />
    <appender-ref ref="ASYNCWIRE" />
  </category>

  <category name="jclouds.compute">
    <priority value="TRACE" />
    <appender-ref ref="ASYNCCOMPUTE" />
    <appender-ref ref="console" />
  </category>

  <category name="pallet">
    <priority value="TRACE" />
    <appender-ref ref="PALLETFILE" />
  </category>

  <category name="jclouds.ssh">
    <priority value="DEBUG" />
    <appender-ref ref="ASYNCCOMPUTE" />
  </category>

  <root>
    <priority value ="info" />
    <appender-ref ref="console" />
  </root>



</log4j:configuration>
