<configuration scan="true" scanPeriod="1 seconds" debug="false">
  <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="COMPUTEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/jclouds-compute.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/old/jclouds-compute.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="WIREFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/jclouds-wire.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/old/jclouds-wire.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="PALLETFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/pallet.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/old/pallet.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="VMFESTFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/vmfest.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/old/vmfest.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="jclouds.headers" level="DEBUG">
    <appender-ref ref="WIREFILE" />
  </logger>

  <logger name="jclouds.wire" level="DEBUG">
    <appender-ref ref="WIREFILE" />
  </logger>

  <logger name="jclouds.compute" level="DEBUG">
    <appender-ref ref="COMPUTEFILE" />
  </logger>

  <logger name="jclouds.ssh" level="DEBUG">
    <appender-ref ref="COMPUTEFILE" />
  </logger>

  <logger name="pallet" level="DEBUG">
    <appender-ref ref="PALLETFILE" />
  </logger>

  <logger name="vmfest" level="DEBUG">
    <appender-ref ref="VMFESTFILE" />
  </logger>

  <logger name="pallet.action-plan" level="DEBUG"/>
  <logger name="pallet.algo.fsm" level="WARN"/>
  <logger name="pallet.algo.fsmop" level="WARN"/>
  <logger name="pallet.core.primitives" level="DEBUG"/>
  <logger name="pallet.transport" level="TRACE"/>
  <!-- <logger name="pallet.execute.default-executor" level="TRACE"/> -->

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>


</configuration>
